{% extends 'organizations/base.html' %}

{% block page_title %}
    Добавление организации
{% endblock %}

{% block article_title %}
    Новая организация
{% endblock %}

{% block content %}
    В представленной форме введите название организации.
{% endblock %}

{% block links %}
    <a href="{% url 'organizations' %}" class="btn btn-primary my-2">Назад</a>
{% endblock %}

{% block main %}
<div class="container">
    <div class="col-lg-6 col-md-8 mx-auto" style="width: 100%;">
        <form method="post">
            {% csrf_token %}
            {{ form.name }}<br>
            <button type="submit" class="btn btn-success">Добавить</button><br>
            <span>{{ error }}</span>
        </form>
    </div>
</div>
{% endblock %}