{% extends 'organizations/layout.html' %}
{% load static %}

{% block title %}
<title>Главная страница</title>
{% endblock title %}

{% block content %}

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Организации</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Ключи</a>
  </li>
</ul>

<ul class="list-group list-group-flush">
    {% for org in orgs %}
        <li class="list-group-item">
            №{{ org.id }} {{ org.name }}
            <br><br><button type="button" class="btn btn-outline-primary">Изменить</button>
            <button type="button" class="btn btn-outline-danger" onclick="{ url 'delete_org' }">Удалить</button>
        </li>

    {% endfor %}
</ul>


<!--{% for key in keys %}-->
<!--    <p>{{ key.key }}</p>-->
<!--{% endfor %}-->


{% endblock content %}