{% extends 'organizations/base.html' %}

{% block page_title %}
    Ключи
{% endblock %}

{% block article_title %}
    Ключи
{% endblock %}

{% block content %}
    Ниже представлен список ключей.
{% endblock %}

{% block links %}
    <a href="{% url 'index' %}" class="btn btn-primary my-2">Главная</a>
{% endblock %}

{% block main %}

{% for key in keys %}
    <div class="col-lg-6 col-md-8 mx-auto" style="margin-bottom: 30px;">
        <h3> # {{ key.key }}</h3>
        {% for org in orgs %}
            {% if org.id == key.id_org_id %}
                <h6> Владелец: {{ org.name }} </h6>
            {% endif %}
        {% endfor %}
        <h6>Срок действия: c {{key.start_date}} по {{key.end_date}}</h6>
        {% if key.block %}
            <p>Статус: заблокирован</p>
        {% else %}
            <p>Статус: открыт</p>
        {% endif %}
        <a class="btn btn-primary" href="#" role="button">Изменить</a>
        <a class="btn btn-danger" href="#" role="button">Удалить</a>
    </div>
{% endfor %}


{% endblock %}