{% extends 'organizations/base.html' %}

{% block page_title %}
    Ключи
{% endblock %}

{% block article_title %}
    Ключи
{% endblock %}

{% block content %}
    Ниже представлен список ключей.
{% endblock %}

{% block links %}
    <a href="{% url 'index' %}" class="btn btn-primary my-2">Главная</a>
    <a class="btn btn-success" href="{% url 'add_key' %}" role="button">Добавить</a>
{% endblock %}

{% block main %}
<div class="col-lg-6 col-md-8 mx-auto" style="margin-bottom: 30px;">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Фильтр по владельцам
        </button>
        <ul class="dropdown-menu">
            {% for org in orgs %}
                <li><a class="dropdown-item" href="{% url 'filter_key' org.id  %}">{{ org.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% if keys%}
    {% for key in keys %}
        <div class="col-lg-6 col-md-8 mx-auto" style="margin-bottom: 30px;">
            <h3> # {{ key.key }}</h3>
            {% for org in orgs %}
                {% if org.id == key.id_org_id %}
                    <h6> Владелец: {{ org.name }} </h6>
                {% endif %}
            {% endfor %}
            <h6>Срок действия: c {{key.start_date}} по {{key.end_date}}</h6>
            {% if key.block %}
                <p>Статус: открыт</p>
            {% else %}
                <p>Статус: заблокирован</p>
            {% endif %}
            <a class="btn btn-primary" href="{% url 'update_key' pk=key.id %}" role="button">Изменить</a>
            <a class="btn btn-danger" href="{% url 'delete_key' pk=key.id %}" role="button">Удалить</a>
            {% if key.block %}
                <a class="btn btn-secondary" href="{% url 'update_keyblock' pk=key.id %}" role="button">Блокировать</a>
            {% else %}
                <a class="btn btn-secondary" href="{% url 'update_keyblock' pk=key.id %}" role="button">Разблокировать</a>
            {% endif %}
        </div>
    {% endfor %}
{% else %}
    <p>У нас нет записей!</p>
{% endif %}

{% endblock %}