{% extends 'organizations/base.html' %}

{% block page_title %}
    (Раз)Блокировка ключа
{% endblock %}

{% block article_title %}
   (Раз)Блокировка ключа
{% endblock %}

{% block content %}
    В представленной форме заблокируйте/разблокируйте ключ.
{% endblock %}

{% block links %}
    <a href="{% url 'keys' %}" class="btn btn-primary my-2">Назад</a>
{% endblock %}

{% block main %}
<div class="container">
    <div class="col-lg-6 col-md-8 mx-auto" style="width: 100%;">
        <form method="post">
            {% csrf_token %}

            <h4>Вы хотите изменить статус?
            {{ form.block }}</h4><br>
            <button type="submit" class="btn btn-success">ОК</button><br><br>
        </form>
    </div>
</div>
{% endblock %}